set terminal postscript eps enhanced color
set output "test.eps"
set size square
set datafile separator ","
plot cos(x) with dots, '-' using 1:2 with lines lw 9, '-' using 1:2:3 with errorbars
0,1.1
1,2,3
2,6,4
4,4.6
5,5,6
e
0,1.1
1,2,3
2,6,4
4,4.6
5,5,6
e
